<script>
import Header from '../../components/HeaderComponent.vue'
import Footer from '../../components/FooterComponent.vue'

export default {
  components: { Header, Footer },

  page: {},
  data () {
    return {}
  }
}
</script>

<template>
  <div class="wrapper">
    <Header></Header>
    <slot />
    <Footer></Footer>
  </div>
</template>

<style lang="scss">

</style>
