

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14PX !important;

  @include media-min($laptop-2K) {
    font-size: 21PX;
    line-height: 26PX;
  }
  @include media-min($UHD) {
      font-size: 36PX;
      line-height: 54PX;
  }
  @include media-min($XUHD) {
      font-size: 80PX;
      line-height: 120PX;
  }
  @include media-max($medium) {
      line-height: 22PX;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-brand-black;
  font-size: 14PX !important;
  line-height: 20PX;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @include media-max($phone) {
    padding-top: 68px;
  }
}

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 40px;
  margin: 0 auto;
  transition: $base-transition;

  @include media-max($laptop-hdpi) {
    max-width: 1000px;
  }

  // @include media-max($)

  @include media-max($medium) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-max($small) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

a {
  color: $color-brand-black;
  text-decoration: none;

  @include media-min($ipad) {
    &:hover {
      text-decoration: underline;
    }
  }

  &:active {
    color: $color-grey-dark;
  }
}