@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/OpenSans-SemiBold.woff') format('woff'),
      url('./assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/OpenSans-Regular.woff') format('woff'),
      url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

