.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: $base-transition;

  &_user {
    background-image: url('../img/icons/person.svg');
  }
}