// MEDIA
$phone-xs: 320px;
$phone:  575px;
$small:  768px;
$medium: 950px;
$ipad: 1024px;
$large:  1199px;
$laptop-mdpi:  1280px;
$laptop-hdpi:  1500px;
$FHD:  1920px;
$laptop-2K:  2000px;
$QHD:  2560px;
$UHD:  3840px;
$XUHD: 6000px;

// COLORS
$color-brand-black:    #333333;
$color-grey-dark:      #828282;
$color-grey-light:     #C4C4C4;
$color-grey:           #F2F2F2;
$color-white:          #FFFFFF;
$color-warn:           #ff0000;
$color-success:        #23BB7E;


// OTHER
$font-family: 'Open Sans', sans-serif;
$base-transition: all .2s ease;