<script>
import Layout from '@src/router/layouts/MainLayout.vue'
import ProductMedia from '@components/ProductMedia.vue'
import ProductGallery from '@components/ProductGallery.vue'
import getPlural from '@src/utils/get-plural'
import { productMethods } from '@state/helpers'

export default {
  components: { Layout, ProductMedia, ProductGallery },

  page: {},

  data () {
    return {
      loading: true,
      productData: {},
      userOptions: {
        quantity: 1,
        size: null
      },
      tryingToAddToCart: false,
      tryingToAddToFav: false
    }
  },

  created() {
    this.tryToGetProductData()
  },

  methods: {
    ...productMethods,
    transformData() {
      if (this.productData.sizes && this.productData.sizes.length) {
        this.productData.sizes.map(item => {
          if (item.out_of_stock) {
            item.disabled = true
          }
        })
      }
    },
    tryToGetProductData() {
      this.loading = true
      // for Fake API url
      const productId = 'd65e45f6-fd5e-45fb-acdb-cedaf1876b11'

      return this.getProductData(productId)
        .then((response) => {
          this.productData = response.data
          this.transformData()
        })
        .catch((error) => {
          console.error(error)
          this.$store.dispatch('alertBox/SET_MESSAGE', {
            message: 'Произошла ошибка при загрузке данных'
          })
        })
        .finally(() => {
          this.loading = false
        })
    },
    addProduct(_type) {
      if (_type !== 'cart' && _type !== 'fav') {
        console.error('Wrong type in addProduct()')
        return
      }

      _type === 'cart' ? this.tryingToAddToCart = true : this.tryingToAddToFav = true

      this.$store.dispatch('userProducts/ADD_ITEM', {
        type: _type,
        id: this.productData.id,
        quantity: this.userOptions.quantity,
        size: this.userOptions.size
      })

      let _message
      if (_type === 'cart') {
        _message = `Товар «${this.productData.name}» в количестве ${this.userOptions.quantity} ${getPlural(this.userOptions.quantity, 'единица', 'единицы', 'единиц')} добавлен в корзину`
      } else if (_type === 'fav') {
        _message = `Товар «${this.productData.name}» в количестве ${this.userOptions.quantity} ${getPlural(this.userOptions.quantity, 'единица', 'единицы', 'единиц')} добавлен в Избранное`
      }

      this.$store.dispatch('alertBox/SET_MESSAGE', {
        message: _message,
        type: 'success'
      })

      _type === 'cart' ? this.tryingToAddToCart = false : this.tryingToAddToFav = false
    }
  }
}
</script>

<template>
  <Layout>
    <BasePagePreloader v-if="loading"></BasePagePreloader>

    <div class="container">
      <div class="product-card">
        <div class="product-card__col">
          <ProductMedia
            v-if="productData.images && productData.images.length"
            :images="productData.images"
          ></ProductMedia>
        </div>

        <div class="product-card__col">
          <div class="product-info">
            <div class="product-info__section">
              <h1>{{ productData.name }}</h1>

              <span v-if="productData.vendor" class="product-info__vendor">Арт. {{ productData.vendor }}</span>

              <div class="product-info__rating">
                <span>Отзывы</span>

                <BaseStarsRating v-if="productData.rating" :rating="parseFloat(productData.rating, 10)"></BaseStarsRating>

                <a
                  v-if="productData.reviews && productData.reviews.length"
                  href="#"
                >
                  {{ productData.reviews.length }}&nbsp;отзывов
                  <BaseIcon type="arrow_right"></BaseIcon>
                </a>
              </div>
            </div>

            <div class="product-info__section">
              <!-- TODO если цена без скидки -->
              <div class="product-info__price">
                <span class="product-info__price-discounted">{{ productData.price_discounted }}&nbsp;₽</span>
                <span class="product-info__price-base">{{ productData.price }}&nbsp;₽</span>
                <BaseIcon type="arrow_right"></BaseIcon>
              </div>

              <div class="product-info__discounts">
                <!-- TODO возможны разные типы скидок, например фиксированная -->
                <div
                  v-for="item in productData.discounts"
                  :key="item.id"
                  class="product-info__discounts-item"
                >
                  <template v-if="item.type === 'discount'">
                    Скидка&nbsp;{{ item.value * 100 }}%
                  </template>
                  <template v-if="item.type === 'promo'">
                    Акция&nbsp;{{ item.value * 100 }}%
                  </template>
                </div>
              </div>
            </div>

            <div class="product-info__section border_bottom">
              <div class="product-info__size">
                <BaseSelect
                  v-if="productData.sizes"
                  v-model="userOptions.size"
                  :options="productData.sizes"
                  class="product-info__select-size"
                />

                <a class="product-info__size-help" href="#">Определить размер</a>
              </div>

              <div class="product-info__tools">
                <BaseQtyInput :quantity.sync="userOptions.quantity"></BaseQtyInput>

                <div class="product-info__btn-container">
                  <BaseButton
                    @click="addProduct('cart')" class="product-info__add-to-cart"
                    :disabled="tryingToAddToCart"
                  >
                    <BasePreloaderIcon v-if="tryingToAddToCart"/>
                    <span v-else>
                      Добавить в корзину
                    </span>
                  </BaseButton>

                  <BaseButton
                    @click="addProduct('fav')" class="product-info__add-to-fav"
                    style_type="fav"
                    :disabled="tryingToAddToFav"
                  >
                    <BasePreloaderIcon v-if="tryingToAddToFav"/>
                    <BaseIcon
                      v-else
                      type="fav_white"
                    ></BaseIcon>
                  </BaseButton>
                </div>
              </div>

              <a class="product-info__buy-quick" href="#">Купить в один клик</a>
            </div>

            <div class="product-info__section">
              <div class="product-info__item">
                <BaseSpoiler>
                  <template v-slot:head>
                    <div class="product-info__item-head">
                      <BaseIcon type="clothes"/>
                      Описание товара
                    </div>
                  </template>
                  <template v-slot:body>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut dolorum id accusamus iste nesciunt! Tempore itaque non animi? Error rem quo aut tempore, sint ipsum aliquam sapiente quibusdam sed.
                    Magnam voluptatibus quo rem minima aliquid nobis. Deserunt quidem voluptate quasi ad mollitia, veritatis quo architecto facere. Quod maxime molestiae impedit pariatur cumque praesentium eaque dolorum harum, enim nam! Deleniti?
                  </template>
                </BaseSpoiler>
              </div>
              <div class="product-info__item">
                <BaseSpoiler>
                  <template v-slot:head>
                    <div class="product-info__item-head">
                      <BaseIcon type="clock"/>
                      Доставка и возврат
                    </div>
                  </template>
                  <template v-slot:body>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores facere voluptate natus quisquam earum culpa, perspiciatis rerum molestiae nemo dolore pariatur maxime dolorem velit adipisci laudantium beatae in eaque.
                  </template>
                </BaseSpoiler>
              </div>
              <div class="product-info__item">
                <BaseSpoiler>
                  <template v-slot:head>
                    <div class="product-info__item-head">
                      <BaseIcon type="pay"/>
                      Способы оплаты
                    </div>
                  </template>
                  <template v-slot:body>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit ad deserunt commodi. Molestiae est quod doloremque illo atque consectetur quis, voluptates sequi perferendis eius quae obcaecati, odit rerum! Dolorum, dignissimos.
                  </template>
                </BaseSpoiler>
              </div>
            </div>
          </div>
        </div>

        <div v-if="productData.gallery" class="product-card__gallery">
          <ProductGallery :galleryData="productData.gallery"></ProductGallery>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.product-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  padding-top: 24px;
  margin-bottom: 130px;

  @include media-max($phone) {
    padding-top: 0;
    margin-bottom: 30px;
  }

  &__col {
    width: calc((100% - 16px) / 2);

    @include media-max($phone) {
      width: 100%;
    }
  }

  &__gallery {
    width: 100%;
  }
}

.product-info {
  &__section {
    padding: 20px;

    @include media-max($phone) {
      padding: 20px 0;
    }

    &.border_bottom {
      padding-bottom: 30px;
      border-bottom: 1PX solid $color-grey-light;

      @include media-max($phone) {
        width: 100vw;
        margin-left: -20px;
        padding: 20px;
      }
    }
  }

  h1 {
    margin: 0 0 4px;
  }

  &__vendor {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-dark;
    margin-bottom: 18px;
  }

  &__rating {
    display: flex;
    align-items: center;

    span {
      margin-right: 12px;
    }

    a {
      color: $color-brand-black;
      display: flex;
      align-items: center;
      margin-left: 4px;

      .icon {
        display: block;
      }
    }
  }

  &__price {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 12px;

    &-discounted {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      margin-right: 12px;
    }

    &-base {
      color: $color-grey-dark;
      text-decoration: line-through;
    }
  }

  &__discounts {
    display: flex;
    column-gap: 9px;
    row-gap: 9px;

    &-item {
      padding: 4px 8px;
      border: 1PX solid $color-brand-black;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__size {
    margin-bottom: 40px;
    width: 315px;

    @include media-max($large) {
      width: 100%;
    }
  }

  &__select-size {
    margin-bottom: 12px;
  }

  &__tools {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
  }

  &__btn-container {
    display: flex;
    column-gap: 4px;
  }

  &__buy-quick {
    display: block;
    margin-top: 12px;
    text-decoration: underline;

    @include media-max($phone) {
      margin-top: 21px;
    }
  }

  &__add-to-cart {
    min-width: 186px;
  }

  &__add-to-fav {
    min-width: 44px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-head {
      display: flex;
      align-items: center;
      text-decoration: underline;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
    }

    .spoiler-body {
      padding-top: 5px;
    }
  }
}
</style>
