<script>
export default {
  data() {
    return {
      show: false
    }
  },
  computed: {
    message() {
      return this.$store.getters['alertBox/message']
    },
    type() {
      return this.$store.getters['alertBox/type']
    }
  },
  watch: {
    message() {
      if (this.message.length > 0) {
        this.show = true

        setTimeout(() => {
          this.show = false
          this.$store.commit('alertBox/SET_MESSAGE', {
            message: ''
          })
          this.$store.commit('alertBox/SET_TYPE', {
            type: ''
          })
        }, 3000)
      }
    }
  }
}
</script>

<template>
  <transition name="alert-box">
    <div v-if="show" :class="`alert-box type_${type}`">
      <div class="container alert-box__container">
        {{ message }}
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.alert-box {
  height: auto;
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $color-warn;

  &.type_success {
    background-color: $color-success;
  }

  &__container {
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-max($phone) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &-enter-active {
    animation: showAlertBox 0.3s ease;
  }

  &-leave-active {
    animation: showAlertBox 0.3s ease reverse;
  }
}

@keyframes showAlertBox {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: auto;
    opacity: 1;
  }
}
</style>
