<script>
import UserSubscribtion from '@components/UserSubscribtion.vue'

export default {
  components: { UserSubscribtion },

  data () {
    return {}
  }
}
</script>

<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__col">
          <h2>ПОКУПАТЕЛЯМ</h2>
          <a class="footer__menu-item" href="#">Каталог</a>
          <a class="footer__menu-item" href="#">Акции</a>
          <a class="footer__menu-item" href="#">Бренды</a>
        </div>

        <div class="footer__col">
          <h2>О НАС</h2>
          <a class="footer__menu-item" href="#">О компании</a>
          <a class="footer__menu-item" href="#">Новости</a>
          <a class="footer__menu-item" href="#">Команда</a>
        </div>

        <div class="footer__col">
          <h2>УЗНАЙТЕ ПЕРВЫМИ О НОВИНКАХ И АКЦИЯХ</h2>

          <UserSubscribtion></UserSubscribtion>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.footer {
  margin: auto 0 0;

  &__inner {
    padding: 0 117px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.38%;

    @include media-max($laptop-hdpi) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media-max($ipad) {
      padding-bottom: 186px;
      column-gap: 10px;
      row-gap: 30px;
    }
  }

  &__col {
    width: 28.9%;

    @include media-max($phone) {
      width: calc((100% - 10px) / 2);
    }

    &:nth-child(3) {
      width: 39%;

      @include media-max($small) {
        width: 100%;
      }
    }

    h2 {
      margin: 0 0 16px;
    }
  }

  &__menu {
    &-item {
      display: block;
      color: $color-brand-black;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
</style>
