<script>
import MobileMenu from '@components/MobileMenu.vue'

export default {
  components: { MobileMenu },

  data() {
    return {
      mobileMenuIsOpen: false,
      scrollPos: false,
      initScrollPos: 0,
      scrollLimit: 200,
    }
  },

  computed: {
    cartCount() {
      return this.$store.getters['userProducts/cartCount']
    },
    favCount() {
      return this.$store.getters['userProducts/favCount']
    }
  },

  created() {
    this.getDataFromLocalStorage()
  },

  mounted() {
    this.mobileMenuHandler()
    window.addEventListener('scroll', this.scrollHandler)
  },

  destroyed() {
    window.removeEventListener('scroll', this.scrollHandler)
  },

  methods: {
    getDataFromLocalStorage() {
      let cartList = JSON.parse(window.localStorage.getItem('product_page_cart'))
      let favList = JSON.parse(window.localStorage.getItem('product_page_fav'))

      if (!cartList) cartList = []
      if (!favList) favList = []

      this.$store.dispatch('userProducts/UPDATE_CART', {
        list: cartList
      })

      this.$store.dispatch('userProducts/UPDATE_FAV', {
        list: favList
      })
    },
    mobileMenuHandler() {
      document.addEventListener('click', (e) => {
        const target = e.target

        if (target.closest('.mobile-menu') || target.closest('.header__burger')) return
        if (this.mobileMenuIsOpen) this.mobileMenuIsOpen = false
      })
    },
    clearUsersProducts(_type) {
      if (_type !== 'cart' && _type !== 'fav') {
        console.error('Wrong type in clearUsersProducts()')
        return
      }

      this.$store.dispatch('userProducts/CLEAR', {
        type: _type
      })
    },
    scrollHandler() {
      if (this.initScrollPos < window.scrollY && this.scrollLimit < window.scrollY) {
        // scroll up
        this.scrollPos = true
      }

      if (this.initScrollPos > window.scrollY) {
        // scroll down
        this.scrollPos = false
      }

      this.initScrollPos = window.scrollY
    }
  }
}
</script>

<template>
  <header class="header" :class="{'pos_hidden': scrollPos}" >
    <div class="container">
      <a href="/" class="header__logo">
        <img src="../assets/img/logo.svg" alt="Logo">
      </a>

      <div class="header__tools">
        <a href="#" class="header__tools-item">
          <BaseIcon type="user"></BaseIcon>
        </a>
        <a href="#" class="header__tools-item">
          <BaseIcon type="fav"></BaseIcon>
          <div v-show="favCount" class="header__tools-counter">
            {{ favCount }}
          </div>

          <div class="header__tools-dropdown">
            <a @click="clearUsersProducts('fav')" href="#">Очистить Избранное</a>
          </div>
        </a>
        <a href="#" class="header__tools-item">
          <BaseIcon type="cart"></BaseIcon>
          <div v-show="cartCount" class="header__tools-counter">
            {{ cartCount }}
          </div>
          <div class="header__tools-dropdown">
            <a @click="clearUsersProducts('cart')" href="#">Очистить Корзину</a>
          </div>
        </a>
      </div>

      <div class="header__burger" @click="mobileMenuIsOpen = !mobileMenuIsOpen">
        <BaseIcon type="burger"/>
      </div>

      <transition name="menu-slide">
        <MobileMenu
          v-show="mobileMenuIsOpen"
          @closeMenu="(mobileMenuIsOpen = false)"
        />
      </transition>
    </div>
  </header>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.header {
  padding: 8px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  transition: $base-transition;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  z-index: 900;

  &.pos_fixed {
      transform: translateY(0%);
  }
  &.pos_hidden {
      transform: translateY(-100%);
  }

  @include media-max($phone) {
    padding: 18px 0 26px;
    box-shadow: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    max-width: 67px;
    max-height: 16px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  }

  &__tools {
    display: flex;
    column-gap: 24px;

    &-item {
      display: block;
      position: relative;

      .icon {
        display: block;
      }

      &:hover {
        .header__tools-dropdown {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &-counter {
      position: absolute;
      top: -3px;
      right: -7px;
      font-size: 10px;
      line-height: 14px;
      border-radius: 7px;
      padding: 0 4px;
      background-color: $color-brand-black;
      color: $color-white;
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      padding: 20px;
      opacity: 0;
      pointer-events: none;
      background-color: $color-white;
      white-space: nowrap;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: $base-transition;
    }
  }

  &__burger {
    display: none;

    @include media-max($phone) {
      display: block;
    }
  }
}

.menu-slide-enter-active {
  transition-duration: 0.3s;

  transition-timing-function: ease-in;
}

.menu-slide-leave-active {
  transition-duration: 0.3s;

  transition-timing-function: ease-in;
}

.menu-slide-enter-to,
.menu-slide-leave {
  transform: translateY(0);
  overflow: hidden;
}

.menu-slide-enter,
.menu-slide-leave-to {
  overflow: hidden;
  transform: translateY(-100%);
}
</style>
