<script>
export default {
  data() {
    return {
      menuList: [
        {
          id: 'mobile_menu_0',
          name: 'Постельное белье',
          link: '/bed',
        },
        {
          id: 'mobile_menu_1',
          name: 'одежда для дома',
          link: '/clothes-for-home',
        },
        {
          id: 'mobile_menu_2',
          name: 'Одежда для улицы',
          link: '/clothes-for-street',
        },
        {
          id: 'mobile_menu_3',
          name: 'ВЫход',
          link: '/exit',
        }
      ]
    }
  },

  created() {},

  methods: {}
}
</script>

<template>
  <nav class="mobile-menu">
    <a
      v-for="item in menuList"
      :key="item.id"
      :href="item.link"
      class="mobile-menu__item"
    >
      {{ item.name }}
    </a>

    <div @click="$emit('closeMenu')" class="mobile-menu__close">
      <BaseIcon type="close"/>
    </div>
  </nav>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.mobile-menu {
  display: block;
  position: absolute;
  padding: 65px 0 60px;
  background-color: $color-white;

  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  z-index: 1;

  &__item {
    display: block;
    padding: 15px 30px;
    text-transform: uppercase;
  }

  &__close {
    position: absolute;
    top: 18px;
    right: 20px;
  }
}
</style>
