<script>

export default {
  props: {
    itemData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  mounted() {},

  data () {
    return {}
  },

  methods: {}
}
</script>

<template>
  <a :href="itemData.href" class="product-gallery-item">
    <div class="product-gallery-item__img">
      <img :src="itemData.image" alt="">
    </div>

    <div class="product-gallery-item__content">
      <button class="product-gallery-item__btn">
        <BaseIcon type="full_screen"></BaseIcon>
      </button>

      <div class="product-gallery-item__heading">
        <BaseIcon type="cart_white"></BaseIcon>
        <span>Узнай, что на мне</span>
      </div>

      <div v-if="(itemData.likes != 0)" class="product-gallery-item__likes">
        <BaseIcon type="favorite_white_solid"></BaseIcon>
        {{ itemData.likes }}
      </div>
    </div>
  </a>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.product-gallery-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;

  @include media-min($ipad) {
    &:hover {
      .product-gallery-item__content {
        opacity: 1;
      }

      .product-gallery-item__img img {
        transform: scale(1.09);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .8s ease;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 12px 16px;
    z-index: 2;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: $base-transition;;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-brand-black;
      opacity: .7;
      z-index: -1;
    }
  }

  &__btn {
    appearance: none;
    background: none;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    .icon {
      width: 48px;
      height: 48px;
      margin: 0 auto;

      @include media-min($ipad) {
        &:hover {
          opacity: 1;
        }
      }
    }

    span {
      color: $color-white;
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    color: $color-white;

    .icon {
      @include media-min($ipad) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
</style>
