<script>
import ProductGalleryItem from '@components/ProductGalleryItem.vue'

export default {
  components: { ProductGalleryItem },

  props: {
    galleryData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },

  mounted() {},

  data () {
    return {}
  },

  methods: {}
}
</script>

<template>
  <div class="product-gallery">
    <a href="#">Посмотреть все стили</a>

    <div class="product-gallery__list">
      <ProductGalleryItem
        v-for="item in galleryData"
        :key="item.id"
        :itemData="item"
      ></ProductGalleryItem>
    </div>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.product-gallery {
  padding-top: 28px;
  text-align: center;

  @include media-max($phone) {
    width: 100vw;
    margin-left: -20px;
  }

  &__list {
    margin-top: 28px;
    display: grid;
    grid-template-areas:
      "first first second third"
      "first first fourth fifth";
    gap: 16px;

    @include media-max($phone) {
      grid-template-areas:
      "first first"
      "first first"
      "second third"
      "fourth fifth";
      gap: 8px;
    }
  }

  .product-gallery-item {
    &:nth-child(1) {
      grid-area: first;
    }

    &:nth-child(2) {
      grid-area: second;
    }

    &:nth-child(3) {
      grid-area: third;
    }

    &:nth-child(4) {
      grid-area: fourth;
    }

    &:nth-child(5) {
      grid-area: fifth;
    }
  }
}
</style>
