<script>
export default {
  props: {
    images: {
      type: Array,
      default: () => {
        return []
      }
    }
  },

  computed: {
    dataTree() {
      const tree = this.images.reduce((acc, item) => {
        acc[item.id] = item
        return acc
      }, {})

      return tree
    }
  },

  mounted() {
    this.mainImg = this.images[0].full
  },

  data () {
    return {
      mainImg: null
    }
  },

  methods: {
    changeImg(id) {
      this.mainImg = this.dataTree[id].full
    }
  }
}
</script>

<template>
  <div class="product-media">
    <div class="product-media-main">
      <img ref="mainImg" :src="mainImg" alt="">
    </div>

    <div class="product-media-previews">
      <div
        v-for="item in images"
        :key="item.id"
        class="product-media-previews__item"
        @click="changeImg(item.id)"
      >
        <img :src="item.preview" alt="">
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.product-media {
  width: 100%;
  position: relative;

  @include media-max($phone) {
    width: 100vw;
    margin-left: -20px;
  }
}

.product-media-main {
  width: 100%;
  height: 0;
  padding-bottom: 128%;
  position: relative;

  img {
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: contain;
  }
}

.product-media-previews {
  position: absolute;
  top: 24px;
  left: 24px;

  @include media-max($phone) {
    top: 28px;
    left: 24px;
  }

  &__item {
    width: 70px;
    height: 90px;
    cursor: pointer;

    @include media-max($large) {
      width: 40px;
      height: 52px;
    }

    &:not(:last-child) {
      margin-bottom: 7px;

      @include media-max($phone) {
        margin-bottom: 4px;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>
