<script>
import UserSubscribtion from '@components/UserSubscribtion.vue'

export default {
  components: { UserSubscribtion }
}
</script>

<template>
  <div class="container">
    <div class="ui-kit">
      <h1>UI kit</h1>

      <div class="ui-kit__row">
        <UserSubscribtion></UserSubscribtion>
      </div>

      <div class="ui-kit__row">
        <BaseButton>
          Добавить в корзину
        </BaseButton>

        <BaseButton style_type="fav"></BaseButton>
      </div>

      <div class="ui-kit__row">
        <BaseStarsRating :rating="3.3"></BaseStarsRating>
      </div>

      <div class="ui-kit__row">
        <BaseQtyInput></BaseQtyInput>
      </div>

      <div class="ui-kit__row">
        <BaseTextInput
          placeholder="Адрес электронной почты">
        </BaseTextInput>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.ui-kit {
  &__row {
    display: flex;
    column-gap: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
</style>
