<script>
import { userMethods } from '@state/helpers'
import AlertBox from '@components/AlertBox.vue'

export default {
  components: { AlertBox },

  computed: {
    subscribeLoading() {
      return this.$store.getters['users/subscribeLoading']
    }
  },

  data () {
    return {
      userData: {
        email: null
      },
      isEmailValid: false,
    }
  },

  methods: {
    ...userMethods,
    async submitForm(event) {
      if (this.isEmailValid) {
        try {
          await this.mailSubscribe(this.userData)
          this.$store.dispatch('alertBox/SET_MESSAGE', {
            message: 'Вы подписаны на рассылку!',
            type: 'success'
          })
        } catch (error) {
          this.$store.dispatch('alertBox/SET_MESSAGE', {
            message: 'Что-то пошло не так. Обновите страницу и попробуйте еще раз'
          })
        }
      }
    },
    checkEmail() {
      // eslint-disable-next-line
      const emailRegExp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

      if (!emailRegExp.test(this.userData.email)) {
        return 'Email в неправильном формате'
      }
    }
  }
}
</script>

<template>
  <form @submit.prevent="submitForm" class="user-subscription">
    <BaseTextInput
      v-model="userData.email"
      :callback="checkEmail"
      :isValid.sync="isEmailValid"
      name="email"
      placeholder="Адрес электронной почты"
      required
    />
    <BaseButton
      type="submit"
      style_type="outlined"
      :disabled="subscribeLoading"
    >
      <BasePreloaderIcon v-if="subscribeLoading"/>
      <span v-else>Подписаться</span>
    </BaseButton>

    <AlertBox />
  </form>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.user-subscription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .base-input {
    width: 100%;
    margin-bottom: 35px;

    @include media-max($phone) {
      margin-bottom: 24px;
    }
  }

  .btn {
    min-width: 150px;
  }
}
</style>
