<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
          ? this.options[0]
          : null,
      open: false,
    }
  },
  mounted() {
    this.$emit('input', this.selected)
  },
}
</script>

<template>
  <div class="custom-select" :tabindex="tabindex" @blur="open = false">
    <div class="custom-select__selected" :class="{ open: open }" @click="open = !open">
      {{ selected.name }}
      <BaseIcon type="arrow_right"/>
    </div>
    <div class="custom-select__dropdown" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        @click="
          selected = option;
          open = false;
          $emit('input', option);
        "
        class="custom-select__item"
        :class="{ 'is-disabled': option.disabled }"
      >
        <span>{{ option.name }}</span>
        <span v-if="option.disabled" class="custom-select__disabled">Нет в наличии</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.custom-select {
  width: 100%;
  position: relative;
  text-align: left;
  outline: none;
  line-height: 44px;

  &__selected {
    border: 1px solid $color-brand-black;
    color: $color-brand-black;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%) rotate(90deg);
      transform-origin: center;
      transition: $base-transition;
    }

    &.open {
      .icon {
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }

  &__dropdown {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__item {
    cursor: pointer;
    user-select: none;
    background-color: $color-white;
    padding: 0 16px;
    border-bottom: 1PX solid $color-brand-black;
    border-left: 1PX solid $color-brand-black;
    border-right: 1PX solid $color-brand-black;
    display: flex;
    justify-content: space-between;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.is-disabled {
      color: $color-grey-light;
      pointer-events: none;
    }

    &:active {
      background-color: $color-grey-light;
    }

    @include media-min($ipad) {
      &:hover {
        background-color: $color-grey-light;
      }
    }
  }

  .selectHide {
    display: none;
  }
}
</style>
