<script>
export default {
  props: {
    type: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      additionalClass: `icon_${this.type}`
    }
  }
}
</script>

<template>
  <i
    class="icon"
    :class="additionalClass"
  >

  </i>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: $base-transition;

  @include media-min($ipad) {
    &:hover {
      opacity: .7;
    }
  }

  &_burger {
    background-image: url('~@src/assets/icons/burger.svg');
  }

  &_close {
    background-image: url('~@src/assets/icons/close.svg');
  }

  &_clothes {
    background-image: url('~@src/assets/icons/clothes.svg');
  }

  &_clock {
    background-image: url('~@src/assets/icons/clock.svg');
  }

  &_pay {
    background-image: url('~@src/assets/icons/pay.svg');
  }

  &_user {
    background-image: url('~@src/assets/icons/person.svg');
  }

  &_fav {
    background-image: url('~@src/assets/icons/favorite.svg');
  }

  &_fav_white {
    background-image: url('~@src/assets/icons/favorite_white.svg');
  }

  &_favorite_white_solid {
    background-image: url('~@src/assets/icons/favorite_white_solid.svg');
  }

  &_cart {
    background-image: url('~@src/assets/icons/bag.svg');
  }

  &_cart_white {
    background-image: url('~@src/assets/icons/bag_white.svg');
  }

  &_star {
    background-image: url('~@src/assets/icons/star.svg');
  }

  &_star_disabled {
    background-image: url('~@src/assets/icons/star_disabled.svg');
  }

  &_input_clear {
    background-image: url('~@src/assets/icons/clear.svg');
  }

  &_arrow_right {
    background-image: url('~@src/assets/icons/arrow_right.svg');
  }

  &_full_screen {
    background-image: url('~@src/assets/icons/full_screen.svg');
  }
}
</style>
