<script>
export default {
  props: {
    openedInitial: {
      type: Boolean,
      default: false,
    }
  },
  created() {
    if (this.openedInitial) this.open()
    else this.close()
  },
  data() {
    return {
      isOpen: true,
    }
  },
  methods: {
    handler() {
      if (this.isOpen) this.close()
      else this.open()
    },
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
  },
}
</script>

<template>
  <div
    class="spoiler"
    :class="{ 'spoiler-is-open': isOpen }"
  >
    <div ref="head" class="spoiler-head" @click="handler()">
      <slot name="head"></slot>

      <div class="spoiler-head__tools">
        <!-- <div class="spoiler-head__btn"></div> -->
      </div>
    </div>

    <transition name="slide">
      <div v-show="isOpen" ref="body" class="spoiler-body">
        <slot name="body"> </slot>
      </div>
    </transition>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.spoiler {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    p {
      margin: 0;
      pointer-events: none;
    }

    &__tools {
      display: flex;
      align-items: flex-end;

      .tooltip {
        margin-left: 5px;
      }
    }

    &__btn {
      width: 18px;
      height: 18px;
      transform-origin: center;

      background-image: url(~@assets/icons/arrow_right.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(0);
      transition: $base-transition;

      .spoiler-is-open & {
        transform: rotate(90deg);
      }
    }
  }
}

.slide-enter-active {
  transition-duration: 0.3s;

  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;

  transition-timing-function: ease-in;
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
</style>
