<script>
export default {
  props: {
    quantity: {
      type: Number,
      default: 1
    }
  },
  created () {
    this.value = this.quantity
  },
  mounted () {
    this.checkMinValue()
  },
  data () {
    return {
      value: null
    }
  },
  methods: {
    increase () {
      this.value++
      this.checkMinValue()
      this.$emit('update:quantity', this.value)
    },
    decrease () {
      if (this.value === 1 || this.value === 0) return
      this.value--
      this.checkMinValue()
      this.$emit('update', this.value)
    },
    checkMinValue () {
      this.value = parseInt(this.value, 10)
      if (this.value < 0) {
        this.value = Math.abs(this.value)
      }

      if (this.value === 1 || this.value === 0) {
        this.$refs.root.classList.add('min_value')
      } else {
        this.$refs.root.classList.remove('min_value')
      }
    },
    checkNoValue () {
      if (!this.value) this.value = 1
    }
  }
}
</script>

<template>
  <div class="qty-input" ref="root">
    <button
      @click="decrease"
      class="qty-input__btn type_minus"
    >
      -
    </button>
      <input
        v-model="value"
        @input="checkMinValue"
        @blur="checkNoValue"
        type="number"
        class="qty-input__input"
      >
    <button
      @click="increase"
      class="qty-input__btn type_plus"
    >
      +
    </button>
  </div>
</template>

<style lang="scss" scoped>
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.qty-input {
  display: flex;
  height: 44px;
  position: relative;
  max-width: 145px;

  @include media-max($phone) {
    margin-bottom: 4px;
  }

  &__input {
    appearance: none;
    border: none;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 41px;
    background-color: $color-grey;
    transition: $base-transition;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__btn {
      display: block;
      background-color: $color-grey;
      color: $color-brand-black;
      border: none;
      width: 41px;
      height: 100%;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      cursor: pointer;
      transition: $base-transition;

      position: absolute;
      top: 0;
      outline: none !important;

      &.type_minus {
          left: 0;
          .min_value & {
              cursor: not-allowed;
              color: $color-grey-dark;

              &:hover {
                background-color: $color-grey !important;
              }
          }
      }
      &.type_plus {
          right: 0;
      }

      &:active {
        background-color: $color-grey-light;
      }

      @include media-min($ipad) {
        &:hover {
          background-color: $color-grey-dark;
        }
      }
  }
}
</style>
