<script>
export default {
  props: {
    rating: {
      type: Number,
      required: true,
      validator (value) {
        return value <= 5
      }
    }
  },
  created () {
    const maxValue = 5

    if (this.rating > maxValue) this.rating = maxValue
    const activeStarsCount = Math.round(this.rating)

    for (let i = 0; i < activeStarsCount; i++) {
      const el = {
        number: i,
        index: Math.random()
      }

      this.activeStarsArray.push(el)
    }

    const disabledStarsCount = maxValue - activeStarsCount

    for (let i = 0; i < disabledStarsCount; i++) {
      const el = {
        number: i,
        index: Math.random()
      }

      this.disabledStarsArray.push(el)
    }
  },
  data () {
    return {
      activeStarsArray: [],
      disabledStarsArray: []
    }
  }
}
</script>

<template>
  <div class="rating-stars">
    <div
      v-for="el in activeStarsArray"
      :key="el.index"
      class="rating-stars__item"
    >
      <BaseIcon type="star">
      </BaseIcon>
    </div>

    <div
      v-for="el in disabledStarsArray"
      :key="el.index"
      class="rating-stars__item disabled"
    >
      <BaseIcon type="star_disabled">
      </BaseIcon>
    </div>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.rating-stars {
  display: flex;

  &__item {
    width: 12px;
    height: 12px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
