<script>
export default {
  model: {
    event: 'update'
  },
  props: {
    type: {
      type: String,
      default: 'text',
      // Only allow types that essentially just render text boxes.
      validator(value) {
        return [
          'email',
          'number',
          'password',
          'search',
          'tel',
          'text',
          'url'
        ].includes(value)
      }
    },
    callback: {
      type: Function,
      default: () => {}
    },
    successMessage: {
      type: String,
      default: ''
    },
    validatorOn: {
      type: String,
      default: 'blur'
    },
    isValid: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      validationMessage: '',
      dataIsValid: null,
      inputValue: ''
    }
  },
  methods: {
    checkInput(event, value) {
      // проверка на пустое поле
      if (event?.target.value.length === 0) {
        this.validationMessage = ''
        return
      }
      /**
       * в Props передать метод проверки и successMessage. Метод должен возвращать сообщение об ошибке. Если его нет, то будет выводиться successMessage
       */
      const callback = Promise.resolve(this.callback())
      callback.then((validationResult) => {
        if (!validationResult) this.validationMessage = this.successMessage
        else this.validationMessage = validationResult

        this.dataIsValid = !validationResult

        this.$emit('update:isValid', !validationResult)
      })
    },
    clearInput() {
      this.$refs.input.value = null
    }
  }
}
</script>

<template>
  <div class="base-input">
    <div class="base-input__wrapper">
      <input
        ref="input"
        :type="type"
        v-bind="$attrs"
        v-model="inputValue"
        @input="$emit('update', $event.target.value)"
        v-on="$listeners"
        @blur="checkInput"
        class="base-input__input"
      />
      <button @click="clearInput" type="button" class="base-input__clear">
        <BaseIcon type="input_clear"></BaseIcon>
      </button>
      <p
        class="base-input__validation"
        :class="{
          '-success': dataIsValid,
          '-error': !dataIsValid,
        }"
      >
        {{ validationMessage }}
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.base-input {

  &__wrapper {
    position: relative;
  }

  &__input {
    appearance: none;
    display: block;
    height: 44px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1PX solid $color-grey-dark;
    padding: 0 32px 0 16px;
    width: 100%;
    font-size: 14px;

    &:focus {
      border-color: $color-brand-black;
    }
  }

  &__clear {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 44px;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 1;
    cursor: pointer;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &__validation {
    position: absolute;
    margin: 0;
    font-size: 12px;
    padding: 0 16px;

    &.-error {
      color: $color-warn;
    }
  }
}
</style>
