<template>
  <div class="base-page-preloader">
    <BasePreloaderIcon />
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';

.base-page-preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
