<script>
export default {
  props: {
    style_type: {
      type: String,
      required: false
    }
  },
  computed: {
    additionalClass () {
      if (this.style_type) return `btn_${this.style_type}`
      else return null
    }
  }
}
</script>

<template>
  <button
    v-on="$listeners"
    class="btn"
    :class="additionalClass"
  >
    <slot />
  </button>
</template>

<style lang="scss" scoped>
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.btn {
  display: block;
  appearance: none;
  padding: 9px 28px;
  line-height: 20px;
  min-height: 44px;
  transition: $base-transition;
  cursor: pointer;
  border: 1PX solid $color-brand-black;
  background-color: $color-brand-black;
  color: $color-white;
  position: relative;

  @include media-max($phone) {
    min-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include media-min($ipad) {
    &:hover {
      background-color: $color-white;
      color: $color-brand-black;
      border-color: $color-brand-black;
    }
  }

  &:active {
    background-color: $color-grey-light;
  }
  .icon {
    display: block;
  }

  &_outlined {
    border-color: $color-brand-black;
    background-color: $color-white;
    color: $color-brand-black;

    @include media-min($ipad) {
      &:hover {
        background-color: $color-brand-black;
        color: $color-white;
      }
    }
  }

  &_fav {
    padding: 9px;
    line-height: 1;

    @include media-min($ipad) {
      &:hover {
        .icon_fav_white {
          background-image: url('~@src/assets/icons/favorite.svg');
        }
      }
    }
  }

  .preloader-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
</style>
