<template>
  <div class="preloader-icon">
    <div></div><div></div><div></div><div></div>
  </div>
</template>

<style lang="scss">
@import '@styles/variables.scss';

.preloader-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 10%;
    border: 2px solid $color-grey-light;
    border-radius: 50%;
    animation: preloader-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $color-grey-light transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

  @keyframes preloader-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
